@tailwind base;
@tailwind components;
@tailwind utilities;
.minH{
    min-height: 85.5vh;
}
body{
    background-color: #D9DBD5;
}
.navigation{
    padding: 1%;
    background-color: black;
    color: #fff;

}